doctype html
html(lang="en-US")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    link(rel="stylesheet", href="css/main.css")
    title Groceries v.Vue
    meta(name="description" content="Family groceries planning web app.")
    meta(name="author" content="Brian Zelip, zelip.me")
    meta(name="keywords" content="groceries")
    //- link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.1/css/regular.css" integrity="sha384-xKPOvJDwdb/n5w2kh6cxds98Ae2d5N63xkIydEdoYeA2bxIKUmmyU9lZ9j58mLYS" crossorigin="anonymous")
    //- link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-PPeKwWhk5XZBVVq089DuhGmjaEVB1r+jdmx6jZrqzlef8ojhZXG+E/D6SP7uO1dk" crossorigin="anonymous")

  body
    div(data-vue="app")
    script(src="app.js")
